<div class="container" style="padding-top:30px;">

			<!-- HEADER AND Menu COUNT -->

			<div class="row">
				<div class="col-sm-12">
					<h2 class="" >Orders 
						<small></small>
					</h2>
				</div>
			</div>
			<!-- Menu LIST -->
			<div class="row" ng-show="loading">
				<div class="col-sm-12">
					<p class="text-center " >
							<span class="fa fa-spinner fa-spin fa-3x"></span>
					</p>
				</div>
			</div>

			<div class="row" ng-show="orders.length > 0">
				<div class="col-sm-12">
					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title">
								Orders for Pick up
							</h3>
						</div>
						<div class="box-body">
							<ul class="products-list product-list-in-box">
								<li class="item" ng-repeat="order in orders" ng-click="updateStatus(order,$index)">
									<div class="product-img">
										<img src="/img/plate.jpg" alt="{{order.menuItem.name}}">
									</div>
									<div class="product-info">
										<h4 class="product-title">{{order.clientFirstname}} {{order.clientLastname}} 
											<small ng-show="order.phone"> {{order.phone}} -</small>
											<small> Pick up: </small>
											{{order.pickupAtString | date:"h:mma"}}
											<span class="label label-primary" >{{order.status}}</span>
											<span class="label label-warning pull-right">$9</span>
										</h4>
										<span class="product-description">
										  {{order.menuItem.name}} 
										</span>
									</div>
								</li><!-- /.item -->

							</ul>
						</div>
						
					</div>
				</div>
			</div>


	</div>